@import './assets/Roboto/roboto.scss';

:root {
  --grey-color: #333;
  --dark-grey-color: #333;
  --light-grey-color: #555;
  --white-color: #fff;
  --pink-color: #ff7979;
  --blue-color: #3f51b5;
}

@mixin scrollbar($bg-color) {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: $bg-color;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background-color: var(--grey-color);
  color: var(--dark-grey-color);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  @include scrollbar(var(--white-color));
}

::-webkit-scrollbar-thumb {
  @include scrollbar(var(--blue-color));
}

.container {
  background-color: var(--white-color);
  width: 100vw;
  min-height: 100vh;
  padding: 3rem;
  transform-origin: top left;
  transition: transform 0.5s linear;

  .circle-container {
    position: fixed;
    top: -6rem;
    left: -6rem;

    .circle {
      background-color: var(--pink-color);
      height: 11rem;
      width: 11rem;
      border-radius: 50%;
      position: relative;
      transition: transform 0.5s linear;

      button {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 6.25rem;
        background: transparent;
        cursor: pointer;
        border: 0;
        font-size: 1.5rem;
        color: var(--white-color);

        &:focus {
          outline: none;
        }
      }

      button#open {
        left: 60%;
        top: 45%;
      }

      button#close {
        top: 62%;
        left: 57%;
        transform: rotate(90deg);
        transform-origin: top left;
      }
    }
  }

  .content {
    max-width: 80vw;
    margin: 3rem auto;

    img {
      max-width: 100%;
    }

    h1 {
      margin: 0
    }

    small {
      color: var(--light-grey-color);
      font-style: italic;
    }

    p {
      color: var(--grey-color);
      line-height: 1.5;
    }
  }
}

.container.show-nav {
  transform: rotate(-20deg);

  .circle {
    transform: rotate(-70deg);
  }

  nav {
    li {
      transform: translateX(0);
      transition-delay: 0.3s;
    }
  }
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 3rem;
  left: 0;
  z-index: 2;

  ul {
    list-style: none;
    padding-left: 2rem;

    li {
      display: flex;
      text-transform: uppercase;
      color: var(--white-color);
      margin: 2.5rem 0;
      transform: translateX(-100%);
      transition: transform 0.4s ease-in;
      align-items: center;

      svg {
        font-size: 1.25rem;
        margin-right: 0.7rem;
      }

      &:hover {
        cursor: pointer;
      }
    }

    li + li {
      margin-left: 1rem;
      transform: translateX(-150%);
    }

    li + li + li {
      margin-left: 2rem;
      transform: translateX(-200%);
    }
  }
}

@media (max-width: 70rem) {
  .container {
    .content {
      max-width: 90vw;
    }
  }
}
